# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing
.coverage
.testmondata
.testmondata-shm
.testmondata-wal
.pytest_cache/
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environments
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
